<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StudentDesk"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusMate">

        <!-- Main Screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Timetable -->
        <activity
            android:name=".TimetableActivity"
            android:exported="false" />

        <!-- Assignments -->
        <activity
            android:name=".AssignmentsActivity"
            android:exported="false" />

        <!-- Attendance -->
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />

        <!-- Exams -->
        <activity
            android:name=".ExamActivity"
            android:exported="false" />

        <!-- Notes -->
        <activity
            android:name=".NotesActivity"
            android:exported="false" />

    </application>

</manifest>